<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container position-relative d-flex align-items-center justify-content-between"
  >
    <a
      href="{{ url_for('index.inicio') }}"
      class="logo d-flex align-items-center me-auto me-xl-0"
    >
      <img
        src="{{ url_for('static', filename='images/icon-parroquia.png') }}"
        alt="Logo"
      />
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" class="active">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/procesos">Procesos</a></li>
        <li><a href="/actividades">Actividades</a></li>
        <li><a href="/donaciones">Donaciones</a></li>
        <li><a href="/contactenos">Contáctenos</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <div class="text-center">
      <a class="cta-btn btn" href="{{ url_for('seguridad.login') }}">
        <ion-icon name="log-in-outline"></ion-icon> Ingresar
      </a>
    </div>
  </div>
</header>
