<div class="bg-lightvariant-yellow">
  <section class="container">
    <div class="seccion-quienes-somos text-center">
      <img
        src="{{ url_for('static', filename='images/hr.png') }}"
        alt="Ornamento religioso"
        class="cruz-icono"
      />

      <div class="titulo-con-lineas">
        <span class="linea"></span>
        <h3 class="titulo">¿Quiénes Somos?</h3>
        <span class="linea"></span>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="{{ url_for('static', filename='images/virgen.jpg') }}"
          alt="Imagen Virgen Inmaculada Concepción"
          class="about-img"
        />
      </div>
      <div class="col-md-6 white-section d-flex flex-column align-items-center">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi
          pariatur modi repellat dolore praesentium architecto accusantium eaque
          aperiam iste. Iste a dolores necessitatibus nihil eius atque sequi
          nulla officiis aperiam. Sit placeat qui quasi natus fugiat aliquid
          repudiandae laboriosam neque commodi, quod architecto fuga iusto
          veniam a nostrum aut perferendis reprehenderit sed. Quasi eum hic sunt
          nemo velit atque accusamus! Placeat facere laboriosam adipisci dolorem
          reiciendis laudantium quisquam eum aut modi repellat, alias esse
          repudiandae minima maxime, nisi impedit, eaque consequuntur quis in
          vel deserunt ducimus consequatur culpa! Atque, alias. Sapiente quod
          sunt natus et inventore dignissimos perspiciatis maxime accusamus
          dolores unde, eligendi animi! Vero beatae veritatis delectus nihil
          nesciunt laborum unde blanditiis inventore, maxime est earum mollitia
          eum alias? <br />
          Praesentium esse velit maxime accusamus cum eum incidunt, illo sed
          nobis eaque, magni nam porro itaque suscipit quaerat nihil blanditiis
          nostrum neque numquam deserunt eveniet expedita tempora? Aut, animi
          aliquid. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Illo quibusdam qui vel quis dicta, reiciendis nihil ut rerum,
          laboriosam accusantium, reprehenderit et odit atque fugiat inventore?
          Itaque esse rem ratione.
        </p>
        <button class="btn-primaryvariant-parroquia mx-2">Leer más</button>
      </div>
    </div>
  </section>
</div>
