<div class="bg-lightvariant-yellow">
  <section class="container">
    <div class="row pt-4">
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="{{ url_for('static', filename='images/cruz.jpg') }}"
          alt="Imagen Virgen Inmaculada Concepción"
          class="schedule-img"
        />
      </div>
      <div class="col-md-6 white-section d-flex flex-column align-items-center">
        <div>
          <div class="seccion-quienes-somos text-center">
            <img
              src="{{ url_for('static', filename='images/hr.png') }}"
              alt="Ornamento religioso"
              class="cruz-icono"
            />

            <div class="titulo-con-lineas">
              <h3 class="titulo">Calendario de eucaristías</h3>
            </div>
            <div>
              <p class="titulo-date">Lunes, 26 de Mayo del 2025</p>
            </div>
          </div>
        </div>
        <div class="calendario-box mx-auto mt-3">
          <div class="horario-item">
            <span>7:00 AM</span><span>Morning Service</span>
          </div>
          <div class="horario-item">
            <span>9:00 AM</span><span>Fellowship</span>
          </div>
          <div class="horario-item">
            <span>6:00 PM</span><span>Afternoon Service</span>
          </div>
          <div class="horario-item">
            <span>8:00 PM</span><span>Fellowship</span>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-ver-calendario">Ver calendario</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
